---
import BaseLayout from "../layouts/BaseLayout.astro";

import ContactCTA from "../components/ContactCTA.astro";
import Hero from "../components/Hero.astro";
---

<BaseLayout title="About | Lunara Costa" description="About Lunara Costa ">
  <div class="stack gap-20">
    <main class="wrapper about">
      <Hero title="About" tagline="I can give your business a new creative start right away!">
        <img width="1553" height="873" src="/assets/about_picture.jpg" alt="Lunara Costa" />
      </Hero>

      <section>
        <h2 class="section-title">Background</h2>
        <div class="content">
          <p>
            I’m a Product Designer from Brazil, living in Berlin. I have 3 years of experience in the field. My passion
            for user interfaces and product development has driven me to become an expert in designing intuitive and
            user-friendly products that meet the needs of users.
            <br />
            <br />
          </p>
          <p>
            Throughout my career, I have had the opportunity to work with a variety of clients and companies, each with
            their own unique challenges and requirements. Whether I’m working on a mobile app, website, or desktop
            application, I always strive to create a product that not only looks great but also functions seamlessly.
            <br />
            <br />
          </p>
          <p>
            I’m passionate about keeping up with the latest trends and technologies in the design industry, and I’m
            constantly looking for ways to improve my skills and knowledge. I believe that the key to creating great
            products is understanding the needs of the user and designing a solution that is both visually appealing and
            easy to use.
            <br />
            <br />
          </p>
          <p>
            If you’re looking for a product designer who is passionate about creating user-friendly interfaces and
            delivering exceptional results, I’d love to chat with you about your project. Let’s work together to create
            a product that exceeds your expectations and delights your users.
          </p>
        </div>
      </section>
      <!-- <section>
        <h2 class="section-title">Education</h2>
        <div class="content">
          <p>Corporis voluptates tenetur laudantium.</p>
        </div>
      </section>
      <section>
        <h2 class="section-title">Skills</h2>
        <div class="content">
          <p>officia unde omnis</p>
        </div>
      </section> -->
    </main>

    <ContactCTA />
  </div>
</BaseLayout>

<style>
  .about {
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
  }

  img {
    margin-top: 1.5rem;
    border-radius: 1.5rem;
    box-shadow: var(--shadow-md);
  }

  section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: var(--gray-200);
  }

  .section-title {
    grid-column-start: 1;
    font-size: var(--text-xl);
    color: var(--gray-0);
  }

  .content {
    grid-column: 2 / 4;
  }

  .content :global(a) {
    text-decoration: 1px solid underline transparent;
    text-underline-offset: 0.25em;
    transition: text-decoration-color var(--theme-transition);
  }

  .content :global(a:hover),
  .content :global(a:focus) {
    text-decoration-color: currentColor;
  }

  @media (min-width: 50em) {
    .about {
      display: grid;
      grid-template-columns: 1fr 60% 1fr;
    }

    .about > :global(:first-child) {
      grid-column-start: 2;
    }

    section {
      display: contents;
      font-size: var(--text-lg);
    }
  }
</style>
