---
import BaseLayout from "../layouts/BaseLayout.astro";

import ContactCTA from "../components/ContactCTA.astro";
import Hero from "../components/Hero.astro";
---

<BaseLayout title="About | Lunara Costa" description="About Lunara Costa ">
  <div class="stack gap-20">
    <main class="wrapper about">
      <Hero
        title="About"
        tagline="Your collaborative design ally for exceptional product experiences: infusing innovation and creativity into every pixel."
      >
        <img width="1553" height="873" src="/assets/about_picture.jpg" alt="Lunara Costa" />
      </Hero>

      <section>
        <h2 class="section-title">About me and my work</h2>
        <div class="content">
          <p>
            I am a Product Designer with 3.5 years of professional experience, specializing in user-centric design and
            data-driven methodologies. Currently based in Berlin, Germany, I am passionate about creating outstanding
            user interfaces and products that effectively cater to user needs.
            <br />
            <br />
          </p>
          <p>
            Throughout my career, I have had the privilege of working with diverse clients and companies, including B2B
            SaaS platforms, where I have delivered responsive and accessible solutions. As a freelancer, I have also
            created proof-of-concepts for various industries, showcasing my adaptability and versatility as a designer.
            <br />
            <br />
          </p>
          <p>
            My design process encompasses the entire product development journey, from ideation to delivery, utilizing
            tools such as Figma to create user journeys, wireframes, and high-fidelity prototypes that effectively
            communicate design concepts. I believe in staying up-to-date with the latest trends and technologies in the
            design industry, constantly seeking ways to enhance my skills and knowledge.
            <br />
            <br />
          </p>
          <p>
            In addition to my technical expertise, I am committed to fostering a creative environment and thrive in
            cross-functional teams where I can contribute my skills and learn from my colleagues. I am dedicated to
            creating visually captivating yet user-friendly solutions that are aligned with market trends and exceed
            user expectations.
            <br />
            <br />
          </p>
          <p>
            If you are seeking a Product Designer who is not only skilled in creating outstanding UI, but also
            passionate about user-centric design, data-driven methodologies, and fostering a creative environment, I
            would be thrilled to discuss your project further. Let's collaborate and create exceptional products that
            stand out in the market.
          </p>
        </div>
      </section>
    </main>

    <ContactCTA />
  </div>
</BaseLayout>

<style>
  .about {
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
  }

  img {
    margin-top: 1.5rem;
    border-radius: 1.5rem;
    box-shadow: var(--shadow-md);
  }

  section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: var(--gray-200);
  }

  .section-title {
    grid-column-start: 1;
    font-size: var(--text-xl);
    color: var(--gray-0);
  }

  .content {
    grid-column: 2 / 4;
  }

  .content :global(a) {
    text-decoration: 1px solid underline transparent;
    text-underline-offset: 0.25em;
    transition: text-decoration-color var(--theme-transition);
  }

  .content :global(a:hover),
  .content :global(a:focus) {
    text-decoration-color: currentColor;
  }

  @media (min-width: 50em) {
    .about {
      display: grid;
      grid-template-columns: 1fr 60% 1fr;
    }

    .about > :global(:first-child) {
      grid-column-start: 2;
    }

    section {
      display: contents;
      font-size: var(--text-lg);
    }
  }
</style>
